body {
  text-align: center;
  color: purple;
   font-family: courier;
   font-size: 120%;
   border: 1px solid turquoise;
    margin: 150px;

}
body {
    background-color: powderblue;
}

head{
  font-size: 150%;
}
